.option-box {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  text-align: center;
  padding: 0.7rem;
  position: relative;
}

.question-title {
  margin: 1rem;
}

.correct {
  background-color: #2196f3;
}

span.feedback.incorrect {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assets/images/incorrect.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.option-box.incorrect {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
}

input[type="radio"] {
  display: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
