<header class="header">
    <div class="nav-header active-nav-shadow">
        <div class="header-logo">
            <img src="/assets/images/logo.svg">
        </div>
        <div class="haeder-item">
            <div>Created by: Haim Lavi</div>
            <ul class="contactMe">
              <li><a href="https://github.com/haimlavi1989/"><img src="/assets/images/git.png"></a></li>
              <li><a href="https://mail.google.com/mail/u/0/?fs=1&to=haimlavi1989@gmail.com&su=SUBJECT&body=BODY&tf=cm"><img src="/assets/images/gmail.png"></a></li>
              <li><a href="https://www.linkedin.com/in/haimlavi/"><img src="/assets/images/linkdin.png"></a></li>
            </ul>
        </div>
    </div>
</header>    