.list-box {
  border: 1px solid var(--surface-d);
}

.header-box {
  text-align: center;
}

.answered-title {
  display: inline;
  vertical-align: super;
}

.questions-list .p-carousel .p-carousel-indicators {
  padding: 0.1rem;
}

.questions-list {
  text-align: center;
}
