<div class="questions-list">
        <app-loading-spinner [visible]="spinner"></app-loading-spinner>    
        <div class="list-box p-md-6 p-md-offset-3 p-sm-6 p-sm-offset-0" *ngIf="!spinner">
            <p-carousel [value]="questions" [numVisible]="1" 
                 [numScroll]="1" [circular]="false">
                <ng-template pTemplate="header">
                    <div class="header-box">
                        <div class="p-grid">
                            <div class="p-md-6 p-md-offset-3 p-sm-6 p-sm-offset-0">
                                <button pButton type="button" label="Restart" class="p-button-sm"
                                 (click)="resetGame()">
                                </button>
                                <h5 class="answered-title"><span> Answered </span>
                                 {{ answers?.length || '0' }}/{{ questions?.length || '0' }}</h5>
                            </div>
                        </div>        
                    </div>
                </ng-template>

                <ng-template let-question pTemplate="item">
                    <app-questions-item [question]="question">
                    </app-questions-item>
                </ng-template>

            </p-carousel>
        </div>
        <div class="p-md-6 p-md-offset-3 p-sm-6 p-sm-offset-0" 
            *ngIf="questions?.length > 0 && answers?.length === questions?.length">
            <app-results></app-results>
        </div>
</div>
